# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Env files
.env

# Firebase keys
FirebaseApi/atomic-odyssey-firebase-adminsdk-fbsvc-6ac5414c03.json

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db
