# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Env files
.env
.venv

# Firebase keys
FirebaseApi/atomic-odyssey-3d061-firebase-adminsdk-fbsvc-64b12f17f8.json
FirebaseApi/tofis-app-firebase-adminsdk-fbsvc-e1ccd29a7c.json
StorageApi/tofis-app-firebase-adminsdk-fbsvc-e1ccd29a7c.json
# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db
