# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Env files
.env
.venv

# Firebase keys
FirebaseApi/config.json
StorageApi/tofis-app-firebase-adminsdk-fbsvc-e1ccd29a7c.json
# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db
